* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 10px;
}

#searchBar {
    background: white;
}

#parkList {
    height: 100%;
    list-style-type: none;
    overflow: scroll;
    background: white;
}

.parkListItem {
    padding: 5px;
}

.parkListItem:hover {
    background: green;
}

.lastListItem {
    height: 40vh;
}
