* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

.mapCanvas {
    height: 100%;
}

.sidebar {
    position: fixed;
    height: 100%;
    max-width: 90%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    background: white;
}

.searchBar {
    background: white;
    display: flex;
    align-items: center;
}

.searchBarInput {
    border: none;
    font-size: 15px;
}

.hamburgerIcon {
    border: none;
    width: 25px;
    margin: 12px 16px;
    cursor: pointer;
}

.searchIcon {
    width: 25px;
    cursor: pointer;
    margin: 12px 16px;
}

.resetIcon {
    width: 25px;
    cursor: pointer;
    margin: 12px 16px;
}

.parkList {
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.parkListItem {
    padding: 5px;
}

.parkListItem:hover {
    background: rgba(117, 204, 117, 0.73);
}

.lastListItem {
    height: 25vh;
}

.noResultListItem {
    padding-top: 50px;
    text-align: center;
}

.ui-menu {
    max-height: 60vh;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.template{
    display: none;
}

.infoWindowContainer {
    min-width: 176px;
}

.yelpRatingStars {
    height: 20px;
}

.yelpTM {
    height: 40px;
}
