* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

.mapCanvas {
    height: 100%;
}

.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: white;
}

.searchBarContainer {
    height: 60px;
}

.searchBar {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: inherit;
}

.searchInput {
    border: none;
    font-size: 15px;
    height: 35px;
    margin: 0px 7px;
}

.hamburgerIcon {
    cursor: pointer;
    height: 35px;
    margin: 0px 7px;
}

.searchIcon {
    cursor: pointer;
    height: 35px;
    margin: 0px 7px;
}

.resetIcon {
    cursor: pointer;
    height: 35px;
    margin: 0px 7px;
}

.parkList {
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.parkListItem {
    padding: 5px;
}

.parkListItem:hover {
    background: rgba(117, 204, 117, 0.73);
}

.lastListItem {
    height: 25vh;
}

.noResultListItem {
    padding-top: 50px;
    text-align: center;
}

.ui-menu {
    max-height: 60vh;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.template{
    display: none;
}

.infoWindowContainer {
    min-width: 176px;
}

.yelpRatingStars {
    height: 20px;
}

.yelpTM {
    height: 40px;
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .sidebar{max-width: 40%;}
}

/* Mobile */
@media screen and (max-width: 676px) {
    .sidebar{width: 100%;}
}
